@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Noto Sans Display", Arial, sans-serif;
    font-optical-sizing: auto;

    --card-min-width: 250px;
    --card-max-width: 500px;
    --card-margin: 20px;
    --symbol-size-medium: 26px;
    --default-padding: clamp(0.7rem, 2vw, 1.2rem);
    
    --primary-bg-color: #ec4e68;
    --secondary-bg-color: #fff0f1;

    --primary-bg-color-dark: #2d001d;
    --secondary-bg-color-dark: #222222;
    --header-bg-color-dark: #241d21;
    --cards-bg-color-dark: #3d2c41;
}

body:has(#toggle-dark-mode:checked) {
    background-color: black;
}

body:has(#toggle-dark-mode:checked) p,
body:has(#toggle-dark-mode:checked) svg {
    color: white;
    fill: white;
}

label[for="toggle-dark-mode"] {
    aspect-ratio: 1 / 1;
    width: 35px;

    background-image: url("images/dark_mode.svg");
    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;
}

body:has(#toggle-dark-mode:checked) label[for="toggle-dark-mode"] {
    background-image: url("images/light_mode.svg");
}

.container {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
    grid-template-areas: 
        "dashboard header"
        "dashboard main";

    min-height: 100vh;
    max-width: 1600px;
    
    margin: 0 auto;

    background-color: var(--secondary-bg-color);

    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
}

body:has(#toggle-dark-mode:checked) .container {
    background: linear-gradient(to left, black, #222222);
    color: white;

    box-shadow: none;
}

/* Default image for user profiles */
.user-img {
    background-image: url("images/user-profile-img.svg");
    background-repeat: no-repeat;

    cursor: pointer;
}

/* ############ */
/* DASHBOARD */
#toggle-dark-mode {
    display: none;
}

div.dashboard {
    grid-area: dashboard;

    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: 40px;

    height: 100%;

    padding: var(--default-padding);

    z-index: 3;

    transition: left 0.3s ease;

    background-color: var(--primary-bg-color);
    color: white;
    fill: white;
}

body:has(#toggle-dark-mode:checked) .dashboard {
    background: linear-gradient(to right, black, var(--primary-bg-color-dark));
    border-right-style: inset;
    border-color: white;
}

div.dashboard .dashboard-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

div.dashboard ul li {
    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: bold;
    font-size: 1.2rem;

    margin: 16px 0 0 5px;

    cursor: pointer;
}

div.dashboard ul svg {
    aspect-ratio: 1 / 1;
    width: 25px;
}

div.dashboard h1:first-of-type {
    margin-right: clamp(0px, 5vw, 80px);   /* Controls width of dashboard */
}

label[for="toggle-dashboard"],
#toggle-dashboard {
    grid-column-end: -1;
    grid-row-start: 3;

    display: none;  /* Hide checkbox and label on bigger screens */

    aspect-ratio: 1 / 1;
    min-height: 50px;   /* Size of the toggle dashboard icon */

    fill: var(--primary-bg-color);
    cursor: pointer;
    user-select: none;
}

label[for="toggle-dashboard"] svg:hover {
    filter: brightness(1.4);
}

label[for="toggle-dashboard"] svg {
    min-height: 100%;
}

body:has(#toggle-dark-mode:checked) label[for="toggle-dashboard"] svg:hover {
    filter: brightness(0.7);
}

/* DASHBOARD */
/* ############ */


/* ############ */
/* HEADER */
div.header {
    grid-area: header;
    
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-auto-flow: dense;
    gap: var(--card-margin);

    padding: var(--default-padding) clamp(0.7rem, 3vw, 3rem);

    background-color: white;
    box-shadow: 0px 4px 15px -5px rgba(0,0,0,0.4);

    z-index: 2;
}

body:has(#toggle-dark-mode:checked) div.header {
    background: linear-gradient(to left, black, var(--header-bg-color-dark));
    color: white;
}

div.header * {
    align-self: center;
}

div.header svg,
div.header label:has(svg) {
    height: var(--symbol-size-medium);
    min-width: var(--symbol-size-medium);
}

div.header .search-bar {
    grid-column: 1 / 3;
    position: relative;
    
    display: flex;

    max-width: 700px;
}

div.header .search-bar input {
    height: calc(var(--symbol-size-medium) + 5px);
    width: 100%;

    padding: 0 10px;

    border-radius: 16px;
    border-style: none;

    background-color: #e2e2e2;
}

div.header .search-bar input:focus-visible {
    outline-color: #b8b8b8;
    outline-width: 1px;
    outline-style: solid;
}   

div.header .user-profile {
    display: flex;
    justify-self: end;

    width: max-content;
    
    margin-right: clamp(0px, 2vw, 20px);
}

div.header .user-profile .user-img {
    aspect-ratio: 1 / 1;
    width: 40px;
    
    margin: 0 clamp(8px, 1.5vw, 10px) 0 clamp(8px, 1.5vw, 25px);
}

div.header .user-profile .user-name {
    cursor: pointer;
}

div.header .user-profile .notification-bell {
    position: relative;

    display: flex;

    width: min-content;
    height: min-content;

    cursor: pointer;
}

.user-profile .notification-bell:hover::after {
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: -1;
}

body:has(#toggle-dark-mode:checked) .notification-bell:hover::after {
    background-color: rgba(255, 255, 255, 0.15);
}

div.header .search-bar input {
    margin: 0 clamp(8px, 1.5vw, 16px);
}

body:has(#toggle-dark-mode:checked) .search-bar input {
    background-color: grey;
    outline-color: white;
}

div.header .user-profile h4 {
    font-size: clamp(0.9rem, 2vw, 1rem);
}

div.header .greeting {
    grid-column: 1 / 1;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(2, min-content);
    column-gap: 16px;

    font-size: clamp(0.7rem, 1vw, 0.9rem);
}

div.header .greeting .user-img {
    grid-row: 1 / -1;

    aspect-ratio: 1 / 1;
    width: calc(2vw + 60px);
    max-width: 80px;
}

div.header .greeting h3 {
    align-self: end;
}

div.header .greeting div{
    align-self: start;

    display: flex;
    flex-wrap: wrap;
    gap: 1ch;

    white-space: nowrap;
}

div.header nav {
    grid-column: 2 / -1;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    height: 100%;
    gap: 25px;
}

div.header nav button {
    justify-self: center;

    width: min(100px, calc(3vw + 80px));
    height: max-content;

    padding: 8px;

    border-radius: 20px;
    border-style: none;

    font-weight: bold;
    
    color: white;
    background-color: var(--primary-bg-color);

    cursor: pointer;
}

body:has(#toggle-dark-mode:checked) div.header nav button {
    background-color: #2d001d;
}
/* HEADER */
/* ############ */


/* ############ */
/* MAIN CONTENT */
div.main-content {
    grid-area: main;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: var(--card-margin);

    height: min-content;

    padding: var(--default-padding);
}

div.main-content h2 {
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    line-height: 2;
}

div.main-content h3 {
    font-size: clamp(1.1rem, 2vw, 1.17rem);
}

div.main-content h3,
div.main-content h4 {
    line-height: 1.5;
}

div.news-panel-grid {
    grid-row: 1 / 3;
    grid-column: 2 / -1;

    display: grid;
    column-gap: var(--card-margin);
    
    height: min-content;
    max-width: 300px;
}

div.news-panel-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    font-size: 0.85rem;
}

div.news-panel-content.trending > div {
    display: flex;
    align-items: center;
    gap: 16px;
}

div.news-panel-content .user-img {
    aspect-ratio: 1 / 1;
    width: 40px;
}

div.news-panel-content h4 {
    cursor: pointer;
}

div.card,
div.news-panel-content {
    border-radius: 8px;

    padding: 1.2rem 1rem;
    margin-bottom: var(--card-margin);

    box-shadow: 3px 3px 8px rgba(0,0,0,0.2);

    background-color: white;
}

div.card-grid {
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-min-width), 1fr));
    grid-auto-rows: 1fr;    /* Sets all cards to same height */
    column-gap: var(--card-margin);
}

div.card {
    display: flex;
    flex-direction: column;

    width: fit-content;
    max-width: var(--card-max-width);
    
    font-size: 1rem;

    border-left-style: solid;
    border-left-width: 8px;
    border-left-color: rgb(172, 135, 182);

    transition: transform .2s;

    cursor: pointer;
}

div.card:hover {
    transform: scale(1.03);
}

div.card-symbols {
    align-self: flex-end;

    display: flex;
    gap: 26px;

    margin-top: auto;
}

div.card svg {
    width: var(--symbol-size-medium);
}

div.card svg:hover {
    fill: rgb(115, 115, 115);
}

body:has(#toggle-dark-mode:checked) div.card svg:hover {
    fill: rgb(160, 160, 160);
}

div.card p,
div.news-panel-content p {
    font-weight: 500;
    color: rgb(128, 128, 128);
}

body:has(#toggle-dark-mode:checked) div.card {
    box-shadow: inset 5px 0 10px rgba(0, 0, 0, 0.5);
}

body:has(#toggle-dark-mode:checked) div.card,
body:has(#toggle-dark-mode:checked) div.news-panel-content {
    background-color: #3d2c41;
    color: white;
}

/* Change colours of other user profile images | Used SVG to CSS converter for url's */
div.news-panel-content div:nth-of-type(1) .user-img {
    background-image:url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 904 904"><g id="objects"><g><path fill="%231e81b0" d="m904,452c0,143.23-66.62,270.9-170.57,353.71-77.21,61.53-175.03,98.29-281.43,98.29s-204.22-36.76-281.43-98.29C66.62,722.9,0,595.23,0,452,0,202.37,202.37,0,452,0s452,202.37,452,452Z"/><circle fill="%238fc0d8" cx="452" cy="351" r="190"/><path fill="%238fc0d8" d="m733.43,805.71c-77.21,61.53-175.03,98.29-281.43,98.29s-204.22-36.76-281.43-98.29c36.55-120.78,148.72-208.71,281.43-208.71s244.88,87.93,281.43,208.71Z"/></g></g></svg>');
}
div.news-panel-content div:nth-of-type(3) .user-img {
    background-image:url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 904 904"><g id="objects"><g><path fill="%23ff0004" d="m904,452c0,143.23-66.62,270.9-170.57,353.71-77.21,61.53-175.03,98.29-281.43,98.29s-204.22-36.76-281.43-98.29C66.62,722.9,0,595.23,0,452,0,202.37,202.37,0,452,0s452,202.37,452,452Z"/><circle fill="%23ff8082" cx="452" cy="351" r="190"/><path fill="%23ff8082" d="m733.43,805.71c-77.21,61.53-175.03,98.29-281.43,98.29s-204.22-36.76-281.43-98.29c36.55-120.78,148.72-208.71,281.43-208.71s244.88,87.93,281.43,208.71Z"/></g></g></svg>');
}
div.news-panel-content div:nth-of-type(4) .user-img {
    background-image:url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 904 904"><g id="objects"><g><path fill="%23ffb300" d="m904,452c0,143.23-66.62,270.9-170.57,353.71-77.21,61.53-175.03,98.29-281.43,98.29s-204.22-36.76-281.43-98.29C66.62,722.9,0,595.23,0,452,0,202.37,202.37,0,452,0s452,202.37,452,452Z"/><circle fill="%23ffd980" cx="452" cy="351" r="190"/><path fill="%23ffd980" d="m733.43,805.71c-77.21,61.53-175.03,98.29-281.43,98.29s-204.22-36.76-281.43-98.29c36.55-120.78,148.72-208.71,281.43-208.71s244.88,87.93,281.43,208.71Z"/></g></g></svg>');
}
/* MAIN CONTENT */
/* ############ */


/* ############ */
/* SMALLER SCREENS */
@media only screen and (max-width: 768px) {
    div.main-content {
        display: block;
    }

    div.news-panel-grid {
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        min-width: 100%;
    }

    div.news-panel {
        margin: 0 auto;
        width: 100%;
        min-height: 100%;
        max-width: 350px;
    }

    div.dashboard {
        position: fixed;
        left: -100%;    /* Hide dashboard off-screen */
    }

    label[for="toggle-dashboard"] {
        display: block;
        justify-self: end;
    }

    div.dashboard:has(#toggle-dashboard:checked) {
        left: 0; /* Slide the dashboard into view */
        visibility: visible;
    }
    
    div.dashboard:has(#toggle-dashboard:not(:checked)) {
        left: -100%; /* Slide the dashboard out of view */
        visibility: visible;
    }

    div.header nav {
        grid-column: 1 / -1;
        justify-self: center;
        width: 100%;
    }

    div.header .search-bar label:has(svg) {
        position: absolute; /* Position the svg inside of the search bar */

        /* Vertically center the svg inside of the search bar */
        margin-left: 3px;
        top: 50%;
        transform: translateY(-50%);
    }

    div.header .search-bar input {
        padding-left: calc(var(--symbol-size-medium) + 3px);
        margin: 0;
    }

    div.header .user-profile {
        width: min-content;
    }
}
/* SMALLER SCREENS */
/* ############ */

